<nlog autoReload="true" 
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xsi:schemaLocation="http://www.nlog-project.org/schemas/NLog.xsd">
    <targets>
        <target name="TcpOutlet" address="tcp://localhost:4505">
            <xsi:type>NLogViewer</xsi:type>
        </target>
    </targets>
    <rules>
        <logger name="*" level="Info" writeTo="TcpOutlet"/>
    </rules>
</nlog>
